.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.send_btn {
  float: right; 
  background-color: #2c7dce;
  padding: 8px 20px;
  margin-bottom: 8px;
  border-radius: 50% !important;
  height: 45px;
  width: 45px;
}
.new_chat_btn {
  background-color: #87b1db;
  margin-bottom: 8px;
  padding: 8px;
}
.metamask_btn {
  background-color: #87b1db;
  margin-bottom: 8px;
  padding: 8px;
}
button, #messageData {
  border-radius: 26px;
  border: none;
}
.send_btn {
  font-size: 28px;
}
.send_btn svg {
  margin-left: -10px;
  margin-top: -17px;
  color: #333333;
}
.signed_in_as p {
  color: #fff;
}
.block_banner {
  background-color: #5d5e5d;
  width: 100vw;
  height: 130px;
}
.container {
  margin-top: -40px;
}
body {
  background-color: #d1cabc;
}
.MessageBox {
  padding-top: 5px;
}